* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1c4e9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.weather-container {
    background-color: #7e57c2;
    color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
   
}

.temperature {
    font-size: 48px;
    right: 10px
}

.city {
    font-size: 24px;
    margin: 10px 0;
    margin-left:10px
}

.img{
    
    font-size: 48px;

}

.details {
    font-size: 18px;
    margin: 19px 17px;
    text-align: center;
}

.search-bar {
    display: flex;
    margin-left: 25%;
}
